# OS
.DS_STORE
*.swp
*~

# IDE
.eslintcache
.idea
**/*.iml
**/jsconfig.json
.settings
.project
.classpath

# Build products
**/npm
*.tsbuildinfo
lerna-debug.log
npm-debug.log
npm-debug.log*
yarn-error.log*
junit.xml
/build/
/packages/*/build/
/packages/*/coverage/

# Dependencies
**/node_modules

# Enforce using Yarn instead of NPM for installation
package-lock.json

# Development
/temp
/packages/*/dev/
