.idea
.DS_STORE
.eslintcache
*.swp
*~

/node_modules

/packages/*/build/
/packages/*/coverage/
/packages/*/node_modules/

lerna-debug.log
npm-debug.log
npm-debug.log*
yarn-error.log*
junit.xml
package-lock.json

*.tsbuildinfo