# OS
.idea
.DS_STORE
.eslintcache
*.swp
*~

# build
*.tsbuildinfo
lerna-debug.log
npm-debug.log
npm-debug.log*
yarn-error.log*
junit.xml

/node_modules/

# enforce using Yarn instead of NPM for installation
package-lock.json

/packages/*/build/
/packages/*/coverage/
/packages/*/node_modules/
