:root {
  --color-white: #fff;
  --color-light-grey-50: #fafafa;
  --color-light-grey-100: #fefefe;
  --color-light-grey-200: #f1f1f1;
  --color-light-grey-300: #ddd;
  --color-light-grey-400: #ccc;
  --color-light-grey-500: #b8b8b8;

  --color-black: #000;
  --color-dark-grey-50: #1e1e1e;
  --color-dark-grey-100: #2d2d2d;
  --color-dark-grey-200: #3a3a3a;
  --color-dark-grey-300: #646464;
  --color-dark-grey-400: #888888;

  --color-blue-100: #4b98e5;
  --color-blue-150: #4390dc;
  --color-blue-200: #1976d2;
  --color-blue-250: #1967b4;
  --color-blue-400: #15497c;

  --color-pink-100: #ff4081;
  --color-pink-200: #f50057;
  --color-pink-300: #c51162;

  --color-red-100: #e57373;
  --color-red-200: #f44336;
  --color-red-300: #d32f2f;

  --color-orange-200: #ffa000;
  --color-orange-400: #f47936;

  --color-yellow-0: #fff8e2;
  --color-yellow-50: #ffe06e;
  --color-yellow-100: #ffd54f;
  --color-yellow-200: #ffc107;
  --color-yellow-300: #e2aa00;

  --color-green-100: #81c784;
  --color-green-200: #2ECC40;
  --color-green-250: #4caf50;
  --color-green-300: #388e3c;

  --color-blue-green-300: #30987a;

  --color-purple-50: #a290eb;

  --color-light-alpha-100: #ffffff1f;
  --color-dark-alpha-100: #00000014;
  --color-dark-alpha-900: #000000d1;
}
